

.other_signin_buttons {
    margin-top: 82px;
    padding: 50px 0 0 0;
    border-top: 1px solid #d9d9d9b3;

    h6.title {
        background-color: var(--main_bg);
        max-width: 220px;
        margin: -62px auto 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }

    .ways {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .icon {
        transition: all .3s ease-in;
        
        &:hover {
            cursor: pointer;
            opacity: .6;
        }
    }
}