@import '../../assets/mixins/responsive_font.scss';


.auth {
    flex-grow: 1;
    width: 100%;

    .row {
        margin: 0 auto;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;

        @media (max-width:928px) {
            flex-direction: column;
            align-items: center;
            height: auto;
        }
    }
}

.form_wrapp {
    padding: 0 60px 0 2.5vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    width: 100%;

    @media (max-width:928px) {
        padding: 65px 2.5vw 0;
        max-width: 90%;
    }

    .title {
        font-weight: 400;
        @include responsive_font(42, 24);
        line-height: 96px;
        color: var(--text-color);
        user-select: none;

        @media (max-width:928px) {
            text-align: center;
        }
    }
}

.banner {
    flex-grow: 1;
    width: 100%;
    background-image: url(../../assets/dstu_bg.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: inset 0px 4px 25px 10px rgba(0, 0, 0, 0.25);

    @media (max-width:928px) {
        min-height: 40vw;
    }
}

.emblem {
    padding: 22px 19px 11px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    img {
        width: 90px;
        height: 90px;
    }

    &:hover {
        animation: spinn 8s infinite liner;
    }

    @media (max-width:928px) {
        top: auto;
    }
}


.form {
    max-width: 600px;

    .head {

        label {
            font-weight: 400;
            @include responsive-font(32, 20);
            line-height: 1.5;
            color: var(--text-color);
            opacity: 0;
        }
    }
    .footer {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > button {
            margin-bottom: 30px;
            width: 100%;
            max-width: 370px;
            > div {
                text-align: center;
            }
        }
    }

    .errors_box {
        min-height: 20px;
        user-select: none;
    
        .mess {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--red);
            svg {
                margin-right: 10px;
            }
            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.2;
                text-align: center;
            }
        }
    }

    @media (max-width:928px) {
        max-width: 100%;
        min-height: auto;
    }
}




@keyframes spinn {
    100% { transform: rotate3d(360deg); }
}