@import '../../../assets/mixins/responsive_font.scss';

.table_container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.shrink_btn {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--grey-color);
    border-radius: 50%;
    color: var(--accent);
    svg {
        transition: all .2s ease-in-out;
    }
    cursor: pointer;

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}


.table_wrapp {
    overflow-x: auto;
    white-space: nowrap;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    border-radius: 15px;
    background-color: var(--frame-color);
}

.thead_cell {
    padding: 10px 0;
    cursor: pointer;

    .line {
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-width: 90px;
        user-select: none;
    }
    
    span {
        margin: auto 0;
        padding-right: 20px;
        width: 100%;
        font-family: 'Poppins-Bold', sans-serif;
        font-weight: 700;
        @include responsive_font(18, 11);
        line-height: 1.5;
        color: var(--text-color);
        user-select: none;
    }
    
    .icon {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transition: all .2s ease-in;
            visibility: hidden;
        }
    }

    &:hover {
        .icon svg {
            transition: all .1s ease-out;
            visibility: visible;
        }
    }

    .icon.iconRot svg {
        transform: rotate(180deg);
    }

    &:nth-last-child(-n+2) {
        cursor:auto;
        .icon {
            display: none;
        }
    }
}


.table_row {
    border-bottom: 1px solid var(--text-op7-color);
}


.tbody_cell {
    padding: 20px 12px;
    margin: 0 auto;
    max-width: 250px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    
    .tbody_cell {
        font-family: 'Poppins-Medium', sans-serif;
        @include responsive_font(18, 10);
        font-weight: 500;

        &:hover {
            background-color: var(--hover);
        }
    }
}



.empty_cell {
    padding: 45px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @include responsive_font(24, 18);
    font-weight: 600;
    text-align: center;
    color: var(--grey_text);
    user-select: none;
}


@media (max-width:697px) {
    .table_wrapp {
        padding: 0 0 10px;
    }

    .table {
        display: block;
        width: 100%;
    }


    .table .thead,
    .table .tbody,
    .table .thead .thead_cell {
        display: block;
    }

    .table .thead {
        float: left;
        .line {
            flex-direction: row-reverse;
            justify-content: flex-start !important;
        }
    }

    .table .tbody {
        overflow-x: auto;
    }

    .table .tbody .table_row {
        display: table-cell;
        border-right: 1px solid var(--text-op5-color);
        border-bottom: none;
        
        &:last-child {
            border-right: none;
        }
    }

    .table .tbody_cell {
        display: block;
        border: 1px solid var(---text-op5-color);
    }

    .table .thead .thead_cell,
    .table .tbody .tbody_cell {
        padding: 10px 8px;
        width: 160px;
        font-size: 12px;
        text-align: left;
    }

    .table .tbody .tbody_cell {
        min-height: 45px;
        text-align: center !important;
        border-bottom: 1px solid var(---text-op5-color);
    }
}




.table.shrink {
    .thead .thead_cell {
        @include responsive_font(14, 10);
    }
    .thead_cell,
    .tbody_cell {
        padding: 2px 5px;
        min-height: 39px;
        font-size: 12px;
    }
}