.theme_toggle_btn {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    color: var(--text-color);

    cursor: pointer;
    transition: border-color 0.25s;
    
    &:hover {
        border-color: var(--accent);
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}