@import '../../../assets/mixins/responsive_font.scss';

.button {
    padding: .75em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: var(--color);
    border-radius: 20px;
    outline: none;
    border: none;
    transition: all .3s step-start;
    user-select: none;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main_bg);

        svg {
            margin-right: 10px;
        }
    }

    .text {
        width: 100%;
        font-family: inherit;
        @include responsive_font(14, 10);
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        text-align: left;
        color: var(--main_bg);
    }
    
    &:hover, &:focus {
        cursor: pointer;
        box-shadow: 0px 4px 47px -6px var(--accent);
        -webkit-box-shadow: 0px 4px 47px -6px var(--accent);
        -moz-box-shadow: 0px 4px 47px -6px var(--accent);
        opacity: .8;
    }

    &:disabled {
        opacity: .2;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        cursor: auto;
    }
}