.back_link {
    padding: 3px 8px;
    display: flex;
    align-items: center;
    background-color: var(--grey);
    color: var(--color);
    max-width: 100px;
    border-radius: 12px;
    user-select: none;

    svg {
        margin-right: 4px;
        transition: all .2s ease-in;
    }

    span {
        font-weight: 600;
        font-size: 14px;
    }

    &:hover {
        cursor: pointer;

        svg {
            transform: translateX(-4px);
        }
    }
}