@import url('./assets/fonts/font.scss');
@import './assets/mixins/responsive_font.scss';


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins-Regular', sans-serif;
}

*::-webkit-scrollbar { width: 9px; height: 6px; }
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: linear-gradient(45deg, var(--bg) 31%, var(--grey) 70%);
  background: -webkit-linear-gradient(45deg, var(--bg) 31%, var(--grey) 70%);
  cursor: all-scroll;
}




$mobile: 768px;

:root {
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg);
  
  &[data-theme='light'] {
    --bg: #fff;
    --frame-color: #F5F5F5;

    --text-color: #304258;
    --text-op5-color: rgba(49, 67, 89, 0.5);
    --text-op7-color: rgba(49, 67, 89, 0.7);
    --grey-color: #d9d9d9b3;
    
   // Colors
   --accent: #E6813E;
   --accent-op: rgba(230, 129, 62, 0.1);
   --green: #4DFF7E;
   --green-op: rgba(77, 255, 127, 0.1);
   --red: #FF4D4D;
   --red-op: rgba(255, 77, 77, 0.9);
   --yellow: #FFF84D;
   --yellow-op: rgba(255, 249, 77, 0.1);
   --blue: #39CFFF;
   --blue-op: rgba(57, 206, 255, 0.1);
  }

  &[data-theme='dark'] {
    --bg: #0F0F0F;
    --frame-color: #181818;
    
    --text-color: #fff;
    --text-op5-color: rgba(255, 255, 255, 0.5);
    --text-op7-color: rgba(255, 255, 255, 0.7);
    --grey-color: #7e7e7e1f;
    
    // Colors
    --accent: #FFA800;
    --accent-op: rgba(255, 170, 0, 0.1);
    --green: #4DFF7E;
    --green-op: rgba(77, 255, 127, 0.1);
    --red: #8B0000;
    --red-op: rgba(139, 0, 0, 0.8);
    --yellow: #FFF84D;
    --yellow-op: rgba(255, 249, 77, 0.1);
    --blue: #39CFFF;
    --blue-op: rgba(57, 206, 255, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #0F0F0F;
    --frame-color: #181818;
    
    --text-color: #fff;
    --text-op5-color: rgba(255, 255, 255, 0.5);
    --text-op7-color: rgba(255, 255, 255, 0.7);
    --grey-color: #7e7e7e1f;
    
    // Colors
    --accent: #FFA800;
    --accent-op: rgba(255, 170, 0, 0.1);
    --green: #4DFF7E;
    --green-op: rgba(77, 255, 127, 0.1);
    --red: #8B0000;
    --red-op: rgba(139, 0, 0, 0.8);
    --yellow: #FFF84D;
    --yellow-op: rgba(255, 249, 77, 0.1);
    --blue: #39CFFF;
    --blue-op: rgba(57, 206, 255, 0.1);
  }
}

html {
  font-family: 'Poppins-Regular', sans-serif;
  @include responsive-font(16, 10);
  line-height: 1.5;
  font-weight: 500;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 4000px;
}  

main {
  padding: 90px 0;
}

.container {
  margin: 0 auto;
  padding: 0 12.500vw;
  width: 100%;
  height: 100%;

  /* Отступы для экранов меньше 470px */
  @media only screen and (max-width: $mobile) {
    padding: 0 10px;
  }
  /* Отступы для экранов больше 1600px */
  @media only screen and (min-width: 1600px) {
    padding: 0 200px 0;
  }
}


.svg-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: all .3s ease-in;

  &.red {
    color: var(--red);
  }
  &.green {
    color: var(--green);
  }

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}



h1.title {
  @include responsive-font(40, 28);
  font-weight: 600;
  line-height: 1.1;
}

h2.subtitle {
  @include responsive-font(32, 20);
  font-weight: 600;
  line-height: 1.5;
}

h3.header {
  @include responsive-font(20, 16);
  font-weight: 600;
  line-height: 1.2;
}

p.disc {
  @include responsive-font(18, 12);
  font-weight: 400;
  line-height: 1.2;
  opacity: .7;
}

p.text {
  @include responsive-font(18, 12);
  font-weight: 400;
  line-height: 1.5;
}

a {
  display: flex;
  align-items: center;
  @include responsive-font(16, 14);
  font-weight: 500;
  text-decoration: none;
  color: var(--accent);
  transition: all .3s ease-in;
  
  &:hover {
    transition: all .2s ease-out;
    opacity: .6;
  }
}