@import '../../assets/fonts/font.scss';

.nav {
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--grey-color);
    background-color: var(--frame-color);
    user-select: none;

    .row {
        margin: 0 auto;
        padding: 10px 0 9px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1920px;
    }
}


.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}